/* header */
header {
  width: 100%;
  border-bottom: 1px solid rgba(224, 224, 224, 0.5);
  align-items: center;
  grid-column: 1 / -1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header hr {
  height: 1.5rem;
  width: 1px;
  margin: 0 15px;
}

.logo-img {
  width: 60px;
}

.icon-header {
  width: 10px;
  color: #777;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.btn-header {
  flex: 1 0 90px;
  background: none;
  border: none;
  border-radius: 5px;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  font-size: 13px;
  padding: 5px;
}

.category-span {
  width: 80px;
  border: none;
  font-size: small;
  margin: 10px;
  background-color: rgb(236, 236, 236, 0.5);
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
}

.input-search {
  width: 480px;
  border: none;
  background-color: rgb(236, 236, 236, 0.5);
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
}

.input-city {
  width: 120px;
  border: none;
  background-color: rgb(236, 236, 236, 0.5);
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
}

.btn-header:hover {
  background-color: rgb(241, 241, 241);
}

.search-button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.search-button:hover {
  color: black;
  background-color: #14BB7D;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: end;
}

.logo {
  display: flex;
  align-items: center;
  width: 70%;
}

.inline-input {
  display: inline;
}

.btn-red {
  background-color: #be3737;
  color: white;
  padding: 10px 12px;
  flex-basis: 100px;
  font-size: 14px;
}

.btn-red:hover {
  background-color: #d43e3e;
}

.logo .btn-header {
  font-size: 16px;
}

/* --------------------- */