<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="/" class="text-nowrap logo-img">
        <img src="../assets/images/logos/DivarLogo.png" width="120" alt="" />
      </a>
      <div
        class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
        id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-user"></i>
          <span class="hide-menu">کاربر دیوار</span>
        </br>
          <span class="hide-menu"><%= `← ${user.mobile}` %></span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/user/me?render=true" aria-expanded="false">
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">داشبورد</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/auth/logout?render=true" aria-expanded="false">
            <span>
              <i class="ti ti-logout"></i>
            </span>
            <span class="hide-menu">خروج از حساب کاربری</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">مدیریت</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/" aria-expanded="false">
            <span>
              <i class="ti ti-menu"></i>
            </span>
            <span class="hide-menu">همهٔ آگهی‌ها</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/ad/my?render=true" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">آگهی‌های من</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/ad/bookmark?render=true" aria-expanded="false">
            <span>
              <i class="ti ti-bookmark"></i>
            </span>
            <span class="hide-menu">نشان‌ها</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/ad/note?render=true" aria-expanded="false">
            <span>
              <i class="ti ti-notes"></i>
            </span>
            <span class="hide-menu">یادداشت‌ها</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/ad/my?render=true" aria-expanded="false">
            <span>
              <i class="ti ti-history"></i>
            </span>
            <span class="hide-menu">بازدیدهای اخیر</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">احراز هویت</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/auth/login" aria-expanded="false">
            <span>
              <i class="ti ti-login"></i>
            </span>
            <span class="hide-menu">ورود</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/auth/login" aria-expanded="false">
            <span>
              <i class="ti ti-user-plus"></i>
            </span>
            <span class="hide-menu">ثبت نام</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
