<div class="col-lg-12 d-flex align-items-stretch">
    <div class="card w-100">
        <div class="p-3">
            <ul>
                <li>
                    <a href="/select-category" class="w-100 p-3 d-block bg-light text-dark">
                        <span class="ti ti-users nav-small-cap-icon fs-4"></span>
                        <span>عنوان</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>